<div class="container p-4 ">
    <div class="text-center p-3 mb-4">
        <h2>Panel de Control - {{user.tipoUser}}</h2>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/ci.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nit Centros de Salud</h5>
                    <p class="card-text">Gestión de NITs de Centros de salud registrados en el Sitema.</p>
                    <a href="/links/panel/nit" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/centroSalud.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Centros de Salud</h5>
                    <p class="card-text">Registrar, validad, aprobar Nuevos centros de salud y Sucursales en el sistema.</p>
                    <a href="/links/panel/centrosSalud" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/administradorSucursal.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Administrador de Sucursal</h5>
                    <p class="card-text">Agregar Administradores a centros de salud Sucursales ya existentes</p>
                    <a href="/links/panel/administradorSucursal" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/administradorGeneral.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Administradores Generales</h5>
                    <p class="card-text">Agregar, eliminar a administradores que tienen control total del sistema.</p>
                    <a href="/links/panel/administradorGeneral" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>