<div class="container p-4 ">
    <div class="text-center p-3 mb-4">
        <h2>Panel de Control - {{user.tipoUser}}</h2>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/ci.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nit Centros de Salud</h5>
                    <p class="card-text">Gestión de NITs de Centros de salud registrados en el Sitema.</p>
                    <a href="/links/panel/nit" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/centroSalud.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Centros de Salud</h5>
                    <p class="card-text">Registrar, validad, aprobar Nuevos centros de salud, Sucursales, sus administradores en el sistema.</p>
                    <a href="/links/panel/centrosSalud" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/doctor.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Especialidades</h5>
                    <p class="card-text">Gestión de Especialidades para los Centro de Salud.</p>
                    <a href="/links/panel/administradorEspecialidad" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/servicio-al-cliente.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Servicios</h5>
                    <p class="card-text">Gestión de Servicios que los Centros de Salud pueden ofrecer.</p>
                    <a href="/links/panel/administradorServicio" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card text-center border-info">
                <img src="/img/administradorGeneral.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestionar Administradores Generales</h5>
                    <p class="card-text">Agregar, eliminar a administradores que tienen control total del sistema.</p>
                    <a href="/links/panel/administradorGeneral/{{user.idPersona}}" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>