<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto fondo-negrito">
           <h1 class="mb-1">Emergencias.guide</h1>
           <h5 class="mb-5">
            <br>
            <em>
                <p class="fw-normal">
                    Cuando cada segundo cuenta, estamos aquí.
                </p>
            </em>
           </h5> 
           <a href="/links" class="btn btn-outline-light mb-3">Directorio Médico</a>
           <a href="/links/emergencias" class="btn btn-danger mb-3">Modo de Emergencias</a>
        </div>
    </header>
</main>