<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto fondo-negrito">
           <h1 class="mb-1">Emergencias.Guide</h1>
           <h5 class="mb-5">
            <br>
            <em>Un directorio médico con informació puntual.</em>
            <em>
                <p>
                    Encuentra centros de salud cercanos a tí y pide una Ambulancia en una Emergencia Médica.
                </p>
            </em>
           </h5> 
           <a href="/profile" class="btn btn-outline-light mb-3">Empecemos</a>
        </div>
    </header>
</main>