<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            
            <div class="card-header text-center">
                <div class="container p-4">
                <div class="row">
                    <div class="mx-auto">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Date el tiempo necesario para llenar Tus datos Correctamente.
                            <button type="button" class="btn-close mt-0" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
                <h3>Registrarse</h3>
            </div>
            <div class="card-body">
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="" class="form-label">Nombres</label>
                        <input type="text" name="nombres" placeholder="Nombres" class="form-control" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Apellidos</label>
                        <input type="text" name="apellidos" placeholder="Apellidos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Carnet de Identidad</label>
                        <input type="text" name="carnet" placeholder="Carnet" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" name="fechaNa" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Crear nombre de Usuario.</label>
                        <input type="text" name="username" id="user" placeholder="Nombre de Usuario" class="form-control" required>
                        <div class="invalid-feedback" id="invalid">
                        </div>
                        <div class="valid-feedback">
                            Este nombre de usuario está libre.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Crear contraseña.</label>
                        <input type="password" name="password"  id="pass" placeholder="Contraseña" class="form-control" onkeyup="verifPass()" required>
                        <input type="password" name="passwordConfirm" id="pass2" placeholder="Confirmar Contraseña" onkeyup="verifPass()" class="form-control" style="margin-top: 5px;" required>
                        <div class="invalid-feedback" id="invalidPass">
                        </div>
                        <div class="valid-feedback">
                            Las contraseñas conciden
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="" class="form-label">Tipo de Sangre</label>
                        <select class="form-select" name="sangre" aria-label="Default select example" required>
                            <option selected value="null">Selecciona una opción</option>
                            <option value="A+">Tipo A Rh+</option>
                            <option value="A-">Tipo A Rh-</option>
                            <option value="B+">Tipo B Rh+</option>
                            <option value="B-">Tipo B Rh-</option>
                            <option value="AB+">Tipo AB Rh+</option>
                            <option value="AB-">Tipo AB Rh-</option>
                            <option value="O+">Tipo O Rh+</option>
                            <option value="O-">Tipo O Rh-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Alergias</label>
                        <input type="text" name="alergias"value="Ninguno" placeholder="Describe aquí tus alergias" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Preferencias</label>
                        <textarea class="form-control" name="preferencias" placeholder="Describe aquí algúna preferencia que tengas" id="floatingTextarea">Ninguno</textarea>
                        <label for="floatingTextarea">Describe aquí algúna preferencia que tengas</label>
                    </div>
                    <div class="form-group d-grid gap-2" >
                        <button class="btn btn-success btn-blok" id="btn" disabled>Registrarse</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="/sockets/signup/sockets.js"></script>

